body{
    padding:0;
    margin:0;
    font-size:14px;
}
ul{
    text-align:center;
}
li{
    display:inline-block;
    font-family: 'Mali', cursive;
    font-size: 1rem;
    margin-left: 0.5rem;
}
a{
    text-decoration: none;
    color:#000
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.contentDisplayed{
    display:inline-block;
    width: 200px;
    margin-left: 50px;
}
.contentDisplayed img{
    border-radius: 1.2rem;
}
.contentDisplayed span{
    margin-left: 1rem;
}


#auth {
    position:fixed;
    display:none;
    left:45%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}
#auth input[type="button"]{
    margin-left: 35%;
}
#auth:target{
    display:block;
}
#auth fieldset{
    border-radius: 5px;   
}

#reg {
    position:fixed;
    display:none;
    left:45%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}
#reg input[type="button"]{
    margin-left: 35%;
}
#reg:target{
    display:block;
}
#reg fieldset{
    border-radius: 5px;   
}